@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
  https://pbs.twimg.com/media/DkvLkrtV4AA6MIC?format=png&name=4096x4096
  https://stackoverflow.com/questions/34121714/take-photo-with-webrtc

  https://jsfiddle.net/2mLb6cs2/

   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ====== Website ===== */

.App{
  padding: 20px 20px;
}

body{
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

h1{
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 30px;
}

input[type="text"] {
  border: 2px solid #d5dee2;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.08);
  -webkit-box-shadow:  inset 0 2px 4px 0 rgba(0,0,0,0.08);
  -moz-box-shadow:  inset 0 2px 4px 0 rgba(0,0,0,0.08);
  font-size: 16px;
  line-height: 22px;
  padding: 5px 10px;
  max-width: 160px;
}

input[type="text"].input-error{
  border: 2px solid #d94430;
}

.disabled{
  display: none;
}

.money-txt{
  font-family: Monospace;
  letter-spacing:2px;
  text-align: right;
}

.warning{
  background: #d94430;
}

.stable{
  background: #3ca650;
}

.btn{
  background: transparent;
  border: 1px solid #3ca650;
  border-radius: 5px;
  color: #3ca650;
  font-size: 16px;
  padding: 5px 10px;
  transition: all 0.2s;
}

.btn:hover{
  background: #3ca650;
  color: #ffffff;
}

.photo-employee{
  height: auto;
  width: 160px;
}

.emp-paragraph{
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.sub-emp-paragraph{
  color: #5c5c5c;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.overflow-table{
  overflow-x: auto;
  padding: 10px 0
}

.employee-table {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  margin: 0 auto;
  min-width: 960px;
}

.employee-table tr th{
  padding: 10px 0;
}

.employee-table tr td, .employee-table tr th {
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
}

.employee-table tbody tr:nth-of-type(2n+1){
  background: #ffffff;
}

.employee-table tbody tr:nth-of-type(2n){
  background: #f2f2f2;
}

.employee-table thead tr, .employee-table tbody tr:nth-of-type(1){
  background: #f2f5f7;
  color: #516273;
}

.employee-table thead tr:nth-of-type(3){
  background: #cccccc;
}

.employee-table tbody tr:nth-of-type(1){
  border-top: 2px solid #e3e9ed;
}

.employee-table tbody .money-col{
  min-width: 150px;
}

.employee-table tbody tr:hover{
  background: #cccccc;
}

.employee-table tbody tr td{
  border-top: 2px solid #e0e0e0;
}



/* ====== Capture ===== */
.modal-cam{
  background: rgba(0,0,0,0.8);
  display: none;
  height: 100%;
  left: 0;
  padding-top: 50px;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.5s;
  width: 100%;
}

.modal-cam.show{
  display: block;
  transition: all 0.5s;
}

#canvas{
  display: none;
}

.camera, .output{
  display: inline-block;
  width: 400px;
}